.venv
backend/model/__pycache__/roadmap.cpython-311.pyc
frontend/uploads/1732867785401-Achalresume.pdf
frontend/uploads/1732867843132-Achalresume.pdf
frontend/uploads/1732867852398-Achalresume.pdf
frontend/uploads/1732867879400-Achalresume.pdf
frontend/uploads/1732867985384-Achalresume.pdf
frontend/uploads/1732867990843-Achalresume.pdf
.gitignore
